streamlit==1.39.0
pandas==2.2.2
requests==2.32.3
numpy==1.26.4
av==12.3.0
streamlit-webrtc==0.47.9
opencv-python-headless==4.10.0.84

# 關鍵修正：強制指定預編譯的輕量化 CPU 版本
--only-binary :all: tensorflow-cpu==2.15.0
--only-binary :all: tf-keras==2.15.0
--only-binary :all: deepface==0.0.93
